:root {
}

.container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: auto 4em;
    grid-template-areas:
    "sidebar sidebar content content content content"
    "sidebar sidebar footer footer footer footer"
    ;
}

html, body, form, fieldset, table, tr, td, img {
    font-family: "Alegreya", serif;
    font-optical-sizing: auto;
    font-weight: 300;
}

label, input {
    display: block;
    margin: 8px;
}

label {
    margin-top: 18px;
}

input:focus {
    border-color: rgb(101, 142, 255);
}

blockquote {
    background: #f9f9f9;
    border-left: 10px solid #ccc;
    margin: 1.5em 10px;
    padding: 0.5em 10px;
    quotes: "\201C""\201D""\2018""\2019";
}

blockquote:before {
color: #ccc;
content: open-quote;
font-size: 4em;
line-height: 0.1em;
margin-right: 0.25em;
vertical-align: -0.4em;
}

blockquote cite {
    display: block;
    color: #858585
}

blockquote p {
display: inline;
}

form label {
    color: #858585;
    text-transform: uppercase;
    font-size: 0.8em;
}

input {
    border: 1px solid rgb(221, 235, 255);
}

::placeholder {
    color: #bebebe;
}

.splash-sidebar {
    display: flex;
    grid-area: sidebar;
    background-image: url("/img/splash-background.jpg");
    background-size: cover;
    position: fixed;
    height: 100%;
    width: 33%;
}

.splash-sidebar .title {
    position: absolute;
    width: 100%;
    font-weight: 600;
    font-style: normal;
    top: 10%;
    background-color: #00000050;
    color:#eeeeee;
}

.attribution {
    text-align: center;
    position: absolute;
    left: 50%;
    bottom: 10px;
    transform: translateX(-50%);
    color: #eeeeee;
    background-color: #00000051;
    width: 100%;
}

.attribution a {
    color: #eeeeee;
}

.title img {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    padding-top: 20px;
    padding-bottom: 0px;
}

.title h1 {
    text-align: center;
    margin-block-start: 0;
}

.splash-content {
    grid-area: content;
    padding: 20px;
}

.signup {
    box-shadow: 3px 3px 3px rgb(210, 210, 210);
    border: 1px solid rgb(218, 218, 218);
    background-color: #fafcfc;
    padding: 1em;
    border-radius: 0.5em;
    overflow: auto;
}

.signup h2{
    margin-block-start: 0;
    margin-block-end: 0;
}

.form-group {
    position: relative;
    display: block;
    float: left;
}

.submit-group {
    clear: both;
}

.signup button {
    background-color: rgba(14, 84, 145, 0.74);
    color:#eeeeee;
    border: none;
    margin: 0.5em;
    padding: 15px;
    border-radius: 10px;
    font-weight: 700;
}
